<ion-card [ngClass]="{'has-next-inspection' : showInspectionLabel}">
  <property-status-label [property]="property"></property-status-label>


    <!-- autoplay=3000 effect=fade -->
    <ion-slides #slider *ngIf="property.Images" autoHeight="true" zoom="false" [pager]="property.Images && property.Images.length > 1" paginationType="fraction" >
       <ion-slide *ngFor="let image of property.Images;let i = index">
            <img [src]="image" [alt]="property.Address"/>
        </ion-slide>
    </ion-slides>

    <shortlist-component [property]='property'></shortlist-component>

    <ion-card-content class="property-meta">
        <div class="next-inspection-container" *ngIf="property.NextInspectionTime && showInspectionLabel">
            <span class="next-inspection-label"><strong>{{'Next inspection' | translate}}</strong> {{nextInspectionLabel}}</span>
        </div>

        <ion-grid no-padding>
            <ion-row>
                <ion-col col-6>
                    <ion-card-title>
                        {{property.Price}}
                    </ion-card-title>
                </ion-col>
                <ion-col col-6 *ngIf="property.PropertyType != 'Land'">
                    <ul class="amenities" text-right>
                        <li><custom-icon set="ozhome" name="bed"></custom-icon> {{property.Bedrooms}}</li>
                        <li><custom-icon set="ozhome" name="bathroom"></custom-icon> {{property.Bathrooms}}</li>
                        <li *ngIf="property.Parking > 0"><custom-icon set="ozhome" name="car"></custom-icon> {{property.Parking}}</li>
                    </ul>
                </ion-col>
                <ion-col col-6 *ngIf="property.PropertyType === 'Land'">
                    <ul class="amenities" text-right>
                        <li>{{'Land' | translate}}: {{property.LandSize}} <span [innerHTML]="property.LandType | translate"></span></li>
                    </ul>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-9 *ngIf="property.RealestateOfficeLogo">
                    <p>
                        {{property.Address}}
                    </p>
                </ion-col>
                <ion-col col-12 *ngIf="!property.RealestateOfficeLogo">
                    <p>
                        {{property.Address}}
                    </p>
                </ion-col>
                <ion-col col-3 padding-left *ngIf="property.RealestateOfficeLogo" align-self-end>
                    <div class="brand">
                        <img [src]="property.RealestateOfficeLogo" [alt]="property.Address">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card-content>
</ion-card>
