<ion-header>

	<ion-navbar>
		<ion-title>{{'LoginTitle' | translate}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding text-center>

	<div class="container">

		<ion-img height="62" width="195" src="./assets/svg/logo.svg" alt="OzHome Logo"></ion-img>

		<button ion-button block icon-left class="btn-login btn-facebook">
			<custom-icon set="ozhome" name="facebook"></custom-icon> {{'LoginFacebook' | translate }}
		</button>
	<!--	<button ion-button block class="btn-login btn-wechat">
			<custom-icon set="ozhome" name="wechat"></custom-icon> Log in using WeChat
		</button>-->

		<ion-card class="card-login">
			<ion-card-header>
				{{'ForgotPwdTitle' | translate}}
			</ion-card-header>
			<ion-card-content>
				<div [hidden]="formSuccess">
					<p class="login-note" [innerHTML]="'ForgotPwdText' | translate"></p>
					<form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">
						<fieldset>
							<ion-item [class.invalid]="!forgotPwdForm.controls.email.valid && (forgotPwdForm.controls.email.dirty || hasSubmitted)">
								<ion-input type="email" [placeholder]="'Email' | translate" formControlName="email"></ion-input>
							</ion-item>
							<ion-item *ngIf="!forgotPwdForm.controls.email.valid && hasSubmitted" class="alert alert-danger">{{'EmailInvalidMsg' | translate}}</ion-item>
						</fieldset>


						<p text-center><a [navPush]="loginPage">{{'ForgotPwdIRemember' | translate}}</a></p>

						 <p *ngIf="errorMessage !== ''" [innerHtml]="errorMessage" class="error-message"></p>
						<button ion-button block type="submit" margin-top class="btn-login no-margin-bottom">
							{{'Submit email' | translate}}
						</button>
					</form>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>