.empty-alerts {
	z-index: 1;

	ion-grid {
		height: 100%;
		padding: 0;
	}

	.alert-half {
		padding: 0;
		height: 50%;
	}

	.full-height {
		height: 100%;
	}

	.login-alerts {
		height: 50%; //was 275px
		justify-content: center;
		align-items: center;
	}

	.scroll-content {
		//margin-bottom: 48px !important; - check what happens on ipad
	}
}

.empty-alerts-text {
	font-size: 1.8rem;
	color: rgba(#222, .3);
	line-height: 1.44em;
}

.alerts-list-content {
	position: relative;
	z-index: 2;
}

.login-alerts {
	background: $white;
	//margin: -6px;
	box-shadow: 0 -1px 0 0 $grey-border;
	padding: 15px 5px;

	h2 {
		font-size: 1.8rem;
		font-weight: bold;
	}

	.button-ios {
		border-radius: 2px;
		margin-top: 10px;
	}
}

.btn-new-alert {

	.icon-ios {
		color: $light-blue;
		font-size: 1.7rem;
		line-height: 16px;
		font-weight: normal;
	}
}

.alert-list {
	.item-ios {
		padding-left: 0;

		button {
			background: none;
			text-align: left;
			padding: 0;
		}

		.ion-ios-arrow-forward {
			color: #c0c0c0;
		}

		.item-inner:not([detail-none]) {
			padding-left: 10px;
			background-position: right 7px center;
			padding-right: 0;
		}

		h2 {
			font-size: 1.6rem;
			color: #000;
			font-weight: bold;
		}

		p {
			font-size: 1.2rem;
		}

		.label-ios {
			white-space: normal;
			margin-bottom: 5px;
			position: relative;

			span {
				color: $text-color;
				margin-bottom: 5px;
				margin-right: 15px;
				display: inline-block;
			}

			svg {
				position: relative;
				top: 4px;
				margin-right: 2px;
			}
		}

		.edit-alert {
			font-weight: 600;
			position: absolute;
			top: 0;
			right: 0;
			margin-right: -8px;

			.button-inner {
				color: map-get($colors, primary);
			}
		}

		.search-alert {
			position: absolute;
			top: 50%;
			right: -10px;
			background: transparent;
			z-index: 100;
			margin: -14px 0 0;
		}

		.location {
			white-space: nowrap;
		}
	}
}

.confirm-alert,
.denied-alert {
	.alert-button-group {
		margin: 0 20px;
		display: flex;
		justify-content: space-around;

		.alert-button {
			border: 1px solid map-get($colors, primary);
			width: auto;
			min-width: 70px;
			margin: 0 5px 20px;
		}

		.button-outline-ios {
			color: map-get($colors, primary);
			background: $white;
			border-radius: 2px;
		}
	}
}

page-alerts-edit {
	ion-footer {
		display: flex;
		justify-content: space-between;

		.button-ios {
			margin: 0 5px;
			border-radius: 2px;
		}

		.button-outline-ios-danger {
			flex-shrink: 2;
		}
	}


}

@media (min-width: $screen-sm) {
	page-alerts {
		.col-left {
			text-align: left;
		}

		.col-right {
			text-align: right;
		}
	}

	.login-alerts {
		ion-grid {
			max-width: 800px;
		}

		h2 {
			font-size: 2.2rem;
		}

		p {
			font-size: 1.8rem;
		}
	}

	.empty-alerts {

		.login-alerts {
			height: 332px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.alert-list {
		.item-ios {

			.label-ios {
				padding-right: 150px;
			}

			.edit-alert {
				top: 50%;
				right: 7px;
				margin-top: -15px;
				line-height: 24px;
				font-size: 1.4rem;
			}

			.search-alert {
				top: 50%;
				right: 60px;
				height: 46px;
				line-height: 44px;
				font-size: 1.4rem;
				margin-top: -26px;
				font-weight: bold;
				border: 1px solid map-get($colors, primary);
				border-radius: 2px;
				text-align: center;
				padding: 0 15px;
				margin-right: 0 !important;

				span {
					color: map-get($colors, primary);
					margin: 0;
				}
			}
		}
	}

}



