<ion-header>

	<ion-navbar>
		<ion-buttons left aria-expanded="">
			<button ion-button navPop>
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{'Change password' | translate}}</ion-title>
	</ion-navbar>

</ion-header>

<ion-content>
	<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
		<ion-grid no-padding>
			<ion-row align-items-top no-padding>
				<ion-col col-12>
					<ion-list no-margin>
						<ion-item [class.invalid]="!changePasswordForm.controls.oldPassword.valid && (changePasswordForm.controls.oldPassword.dirty || hasSubmitted)">
							<ion-label>{{'Old password' | translate}}</ion-label>
							<ion-input type="password" formControlName="oldPassword"></ion-input>
						</ion-item>
						<ion-item *ngIf="!changePasswordForm.controls.oldPassword.valid && hasSubmitted" class="alert alert-danger">{{'PwdInvalidMsg' | translate}}</ion-item>

						<ion-item [class.invalid]="!changePasswordForm.controls.newPassword.valid && (changePasswordForm.controls.newPassword.dirty || hasSubmitted)">
							<ion-label>{{'New password' | translate}}</ion-label>
							<ion-input type="password" formControlName="newPassword" placeholder="{{'PasswordPlaceholder' | translate}}" minlength="8"></ion-input>
						</ion-item>

						<ion-item *ngIf="!changePasswordForm.controls.newPassword.valid && hasSubmitted" class="alert alert-danger">{{'PwdInvalidMsg'| translate}}</ion-item>

						<ion-item [class.invalid]="!changePasswordForm.controls.confirmPassword.valid && (changePasswordForm.controls.confirmPassword.dirty || hasSubmitted)">
							<ion-label>{{'Confirm new password'|translate}}</ion-label>
							<ion-input type="password" formControlName="confirmPassword"></ion-input>
						</ion-item>
						<ion-item *ngIf="!changePasswordForm.controls.confirmPassword.valid && hasSubmitted" class="alert alert-danger">{{'PwdInvalidMsg' | translate}}</ion-item>

					</ion-list>

					<p text-center margin *ngIf="errorMessage !== ''"><span [innerHtml]="errorMessage | translate" class="alert alert-danger"></span></p>

					<p text-center center><button ion-button block margin-top type="submit" [disabled]="!changePasswordForm.dirty">{{'Save password' | translate}}</button></p>
				</ion-col>
			</ion-row>
			<!--
		The button has been moved up to sit under the form, otherwise when the keyboard is on, it overlaps the form - easiest fix atm.
		<ion-row class="col-bottom">
			<ion-col col-12 text-center>

			</ion-col>
		</ion-row>-->
		</ion-grid>
	</form>
</ion-content>