
.btn-sort {
	color: map-get($colors, secondary);
	height: auto;
	font-size: 1.4rem;
	margin: -6px 0 0;
	padding: 0;
	font-weight: bold;
}

.empty-search {
	height: 100%;

	ion-img,
	ion-img img {
		width: 183px;
		height: 150px;
	}

	ion-row {
		height: 100%;
	}
}

.empty-search-text {
	font-size: 1.8rem;
	color: rgba(#222, .3);
	font-weight: bold;
	line-height: 3rem;
}

@media (min-width: $screen-sm) {

	page-property-list {
		ion-navbar.toolbar {
			padding-right: 0;
		}

		.searchbar-ios {
			padding-right: 0;
		}
	}

	.empty-search {

		ion-img,
		ion-img img {
			width: 255px;
			height: 205px;
		}

		ion-img {
			margin-bottom: 20px;
		}
	}

	.sort-select {

		position: absolute;
		top: 4px;
		right: 0;
		width: 100%;

		.item-cover,
		.select-icon {
			position: absolute;
			width: 0;
			height: 0;
		}

		.select-icon,
		.select-text {
			opacity: 0;
		}
	}
}
