page-property-map {
	.map {
		height: calc(100% - 44px); //top panel and tabs height are extracted
	}

	ion-alert {
		left: 375px;
		height:500px;
	}

	.text-toggle {
		max-width: 210px;
	}

}

.map-utils {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
	padding-top: 0;
	padding-bottom: 0;
}

.zoom-message {
	position: absolute;
	top: 55px;
	z-index: 1;
	margin: 0;
	padding: 0;
	display: block;
	left: 12px;
	right: 12px;
	width: auto;


	.card-ios {
		margin: 0;
		box-shadow: none;
		overflow: visible;
		background: none;
		line-height: 1.2em;
	}

	.card-content-ios {
		padding: 8px;
		line-height: 1.2em;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.button-ios {
		margin: 0;
		padding: 0 .3em 0 0;
	}

	.icon-zoomin {
		margin-right: 10px;
	}

	span {
		flex-grow: 2;
	}
}

.default-loc {
	position:absolute;
	z-index: 1;
	height: 100%;
	.card-ios {
		width:300px;
		margin: 40% auto auto;	
	}
	.card-content-ios {
		font-size: 1.3em;
		padding: 15px 20px;
		button {
			margin-top: 15px;
			padding: 10px 30px;
			font-weight: bold;
		}
	}
}

@media (min-width: $screen-sm) {
	.map-utils {
		background: transparent;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		box-shadow: none;

		.text-toggle {
			background: $white;
		}
	}

	.zoom-message.map-utils {
		background: $white;
		max-width: 340px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
		bottom: 5px;
		right: 5px;
		left: auto;
		top: auto;
	}

	page-property-map {
		.map {
			height: 100%;
		}
	}
}
